{=header}
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="http://bluejacket.io">Project Page</a></li>
            <li role="presentation"><a href="https://github.com/oytunistrator/bluejacket/archive/master.zip">Download</a></li>
            <li role="presentation"><a href="http://bluejacket.io/wiki">Wiki</a></li>
            <li role="presentation"><a href="https://github.com/oytunistrator/bluejacket/graphs/contributors">Contributors</a></li>
            <li role="presentation"><a href="http://upsfcorp.com">Donations</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><span class="blue-logo">Blue</span>Jacket </h3>
      </div>

      <div class="jumbotron">
	      <img src="{$ temp_dir }/images/logo.png" width="128" height="128" />
        <p class="lead">Simple Web Development Framework</p>
        <p><a class="btn btn-lg btn-success" href="https://github.com/oytunistrator/bluejacket/archive/master.zip" role="button">Download</a></p>
      </div>

      <footer class="footer">
        <p>&copy; This project development under <a href="http://upsfcorp.com">UPSF</a> 2014 with GPL v2 License. </p>
      </footer>

    </div> <!-- /container -->
{=footer}
